<!--
    Author: GoogleX
	Author link: https://github.com/GoogleX133
	Design by: W3layouts
	
	Email: haxor-133@protonmail.com (optional)
	Facebook: https://fb.me/m.rakha.f
	Contact: line://ti/p/~rakamastah
-->



<!DOCTYPE html> <script> alert("Made by GoogleX"); </script> <html> <head> <meta charset="utf-8"> <title>Line Token Generator</title> <link rel="stylesheet" type="text/css" href="/css/style.css"> <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> </head> <body> <div class="container"> <fieldset> <form action="/linkqr" method="post"> <input name="pcname" type="text" class="ghost-input" placeholder="Your Login Name Here" required> 		 <input name="xapp" title="Insert your X-Line-Application" type="text" class="ghost-input" placeholder="IOSIPAD\t7.18.0\tiPhone OS\t11.12.1" value="IOSIPAD\t7.18.0\tiPhone OS\t11.12.1" required> <input type="submit" class="ghost-button" value="Login"> </form> 		<p>Info: Your login name will be deleted in 24 hours by our automatic system</p> </fieldset> </div> </body> </html>
